body {
    background-color: #d9e8eb;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: #667;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}
  
li a:hover:not(.active) {
    background-color: #ddd;
}
  
li a.active {
    color: white;
    background-color: #298bb3;
}


.card2 {
    margin-bottom:25px;
    width: 250px;
    height: 250px;
    padding-left: 90px;
    padding-bottom:10px;
    padding-top: 20px;
    padding-right: 70px;
    border: 1px solid black;
    margin: auto;
    border-radius: 10px;
}

.table {
    margin-bottom:25px;
    display:grid;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    padding-bottom:10px;
    padding-top: 20px;
    padding-right: 70px;
    margin: auto;
}

#cntr {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
}

.mybtn {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #298bb3;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    font-size: large;
  }

  .myfrm{
      display:grid;
      justify-content: center;
      align-items: center;
  }

  .myfrm button {
      margin-top: 10px;
      width: 250px;
      height: 60px;
  }

  .mybtn:hover{
      background-color: #43add6;
  }

  .myfrm .url_button {
    width: 120px;
    height: 40px;
    color: white;
    background-color: #298bb3;
    text-decoration: none;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    font-size: large;
  }

  .myfrm .url_button:hover{
    background-color: #43add6;
}

input {
    height: 20px;
}

.temp_button {
    width: 90px;
    height: 40px;
    color: white;
    background-color: #298bb3;
    text-decoration: none;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    font-size: large;
    margin-top: 5px;
}

.temp_button:hover{
    background-color: #43add6;
}

#url_short {
    display:grid;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}