<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="shortcut icon" href="{{url_for('static',filename='images/favicon.ico')}}" type="image/x-icon">
    <title>flask-projects</title>
</head>
<body>
    <ul>
        <li><a class="active" href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('temperature_converter') }}">Temperature</a></li>
        <li><a href="{{ url_for('urlshortener') }}">Url Shortener</a></li>
    </ul>
    {% block content %}
        <h1 id="cntr">flask-projects</h1>
        <form class="myfrm" action="" method="POST">
            <button class="mybtn" type="submit" name="submit_button" value="Temperature">Temperature</button>
            <button class="mybtn" type="submit" name="submit_button" value="Url Shortener">Url Shortener</button>
        </form>
        
            
    {% endblock %}    
</body>
{% block script %}

{% endblock %}
</html>